<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog Site</title>
    <div th:replace="/fragments/styling :: head-style" >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/standard.css" rel="stylesheet">
    </div>
</head>
<body>
<div th:replace="/fragments/styling :: body-links" >
<div class="container">
    <h1>Welcome to Our Blog Post Site!</h1>
    
    <h3>Check out our blogs!</h3>
    
    <h3>Blog Post Form</h3>
    <p>Thank you for your submission!</p>
    
    <h4>Blog Post:</h4>
    <div class="row">
        <div th:each="blog:${posts}">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p th:text="${blog.title}"/>
                    </div>
                    <div class="panel-body">
                        <p th:text="${blog.author}"/>
                        <p th:text="${blog.blogEntry}" />
                    </div>
                    <div class="panel-footer">
                        <div th:replace="/fragments/styling :: head-style" ></div>
                        <div th:replace="/fragments/styling :: body-links" ></div>
                        <!-- Link to Destroy -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <form action="#" th:action="@{'/blogposts/{id}'(id=${blog.id})}" th:method="delete"
          class="form-horizontal">
        <div class="form-group">
            <input type="hidden" name="_method" value="delete"/>
            <button type="submit" class="btn btn-danger btn-block" th:text="Delete">Delete</button>
        </div>
        <div class="card-footer">
            <a href="#" th:href="@{blogposts/{id}(id=${blog.id})}">
                <button class="btn btn-light">Edit Post</button>
            </a>
            <a href="#" th:href="@{blogposts/delete/{id}(id=${blog.id})}">
                <button class="btn btn-danger" type="submit">Delete Post</button>
            </a>
        </div>
    </form>
</div>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
</body>
</html>